<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MB Queue</title>
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" type="text/css" href="mb-queue.css">
</head>
<body>
<section class="mb-queue">
    <header class="header">
        <h1><a href="#/">Mimes Brønn incoming/outgoing</a></h1>
        <div style="padding-left: 1em; font-size: 1.2em;">Your name:</div>
        <input class="new-todo"
               autofocus autocomplete="off"
               v-model="storedName">
    </header>

    <footer class="footer" v-show="alaveteliRequests.length" v-cloak>
        <ul class="filters">
            <li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
            <li><a href="#/active" :class="{ selected: visibility == 'active' }">Active</a></li>
            <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">Completed</a></li>

            <li v-for="tagGroup in alaveteliTagGroups">
                <a :href="tagGroup.tagGroupLink" :class="{ selected: visibility == 'tag-' + tagGroup.tagGroup }">{{ tagGroup.tagGroup }}</a>
            </li>

        </ul>
        <button class="clear-completed" @click="removeCompleted" v-show="alaveteliRequests.length > remaining">
            Clear completed
        </button>
    </footer>

    <section class="main"  v-cloak>
        <span class="todo-count">
            Showing {{ filteredTodos.length }} of
          <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left.
        </span>
        <ul class="todo-list" v-show="alaveteliRequests.length">
            <li v-for="request in filteredTodos"
                class="todo"
                :key="request.counterToTriggerRerenderOfComponent2"
                :class="{ request_completed: request.completed, request_sending: request.sending, request_sent: request.sent}">
                <div class="view">
                    <span class="mb-link">[<a :href="request.url">Mimes Brønn</a>]</span>

                    <input
                            class="toggle"
                            type="checkbox"
                            v-model="request.completed"
                            disabled="disabled"
                    >
                    <div class="label">{{ request.requestTitle }}
                        <br>
                            <span v-for="corr in request.correspondence" class="request-correspondence-container">
                                <label class="request-correspondence">
                                    <input type="checkbox"
                                           v-model="corr.completed"
                                           v-on:change="checkedRequestCorrespondance(request, corr)"
                                    >
                                    <span v-show="corr.outgoingId">→ </span>
                                    <span v-show="corr.incomingId">← </span>
                                    <span class="correspondence-date-time">{{ corr.correspondenceDateTime }}</span>
                                    <a class="correspondence-link" :href="corr.correspondenceLink">{{ corr.correspondenceLinkText }}</a>
                                    <span class="correspondence-header">{{ corr.correspondenceHeader }}</span>
                                </label>
                                <div v-show="corr.attachments.length > 0" class="request-correspondence-attachment-container">
                                    <div class="request-correspondence-attachment-container-inner" v-for="att in corr.attachments">
                                        <label class="request-correspondence-attachment">
                                            <input type="checkbox"
                                                   v-model="att.completed"
                                                   v-on:change="checkedRequestAttachment(request, att)"
                                            >
                                            <span class="attachment-file-mime-type">{{ att.fileMimeType }}</span>
                                            [<a class="attachment-link-download" :href="att.linkDownload">Download/view</a>]
                                            <span  v-show="att.linkViewHtml">[<a class="attachment-link-html" :href="att.linkViewHtml">View as HTML</a>]</span>
                                            <span class="mb-tag mb-tag-filesize attachment-file-size">{{ att.fileSize }}</span>
                                            <span class="attachment-file-name">{{ att.fileName }}</span>
                                        </label>
                                    </div>
                                </div>
                            </span>

                        <br>
                        <a class="mb-tag mb-tag-publicbody" title="Public body URL title">
                            {{ request.publicBodyUrlName }}
                        </a>
                        <a class="mb-tag mb-tag-username" title="Username URL title">
                            {{ request.userUrlName }}
                        </a>
                        <a class="mb-tag"
                           v-for="tag in request.tags"
                           :class="tag.tagType"
                           :href="tag.tagLink"
                           title="Tag">
                            {{ tag.tag }}
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <section class="main" v-show="alaveteliRequestReads.length" v-cloak>
        <h2>30 latest requests marked as read</h2>
        <ul class="request-read-list">
            <li v-for="read in alaveteliRequestReads"
                class="request-read"
                :key="read.id">
                <div class="view">
                    <label>
                        <span class="mb-link">[<a :href="read.requestUrl">Mimes Brønn</a>]</span>
                        {{ read.requestReadTimestampFormatted }}
                        - <span class="read-username">{{ read.username }}</span>
                        - {{ read.requestTitle }}
                        - {{ read.readInfo }}
                        <span v-show="read.comment && read.comment.length > 0">
                            - {{ read.comment }}
                        </span>
                    </label>
                </div>
            </li>
        </ul>
    </section>
</section>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="mb-queue.js"></script>
</body>
</html>