html,
body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 1550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

:focus {
    outline: 0;
}

.hidden {
    display: none;
}

.mb-queue {
    background: #fff;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.mb-queue input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #7D7D7D;
}

.mb-queue input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #7D7D7D;
}

.mb-queue input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #7D7D7D;
}

.mb-queue h1 {
    width: 100%;
    font-size: 50px;
    font-weight: 100;
    line-height: 100px;
    text-align: center;
    margin: 0;
}

.new-todo {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    color: inherit;
    padding: 6px;
    border: 1px solid #7D7D7D;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.new-todo {
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #7D7D7D;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #7D7D7D;
}

.todo-list li:last-child {
    border-bottom: none;
}

.todo-list li .toggle {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    appearance: none;
}

.todo-list li .toggle {
    opacity: 0;
}

.todo-list li .toggle + div.label {
    /*
        Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
        IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
    */
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%237D7D7D%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center left;
}

.todo-list li .toggle:checked + div.label {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2399b0ac%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}
.todo-list li div.view .request-correspondence-container,
.todo-list li div.view .request-correspondence-container .request-correspondence-attachment-container-inner {
    display: block;
}

.todo-list li div.view > div.label {
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: inline-block;
    line-height: 1.2;
    transition: color 0.4s;
}

.todo-list li span.mb-link {
    float: right;
    padding: 1em;
}

.mb-tag {
    margin-right: 0.25em;

    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.mb-tag-default {
    color: #fff;
    background-color: #768591;
}
.mb-tag-doc_num {
    color: #fff;
    background-color: #17a2b8;
}
.mb-tag-no-tag {
    color: #fff;
    background-color: #4eb856;
}
.mb-tag-batch {
    color: #fff;
    background-color: rgb(84, 88, 44);
}

.mb-tag-filesize {
    color: #fff;
    background-color: #91765c;
}
.mb-tag-username {
    color: #fff;
    background-color: #8d9139;
}
.mb-tag-publicbody {
    color: #fff;
    background-color: #566291;
}

.read-username {
    color: #263259;
}

.todo-list li.request_completed div.label {
    color: #979797;
    background-color: #d4fcda;
    text-decoration: line-through;
}
.todo-list li.request_sending {
    background-color: #cee2fc;
}
.todo-list li.request_sent {
    background-color: #cee2fc;
}

.todo-list li .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}

.todo-list li .destroy:hover {
    color: #af5b5e;
}

.todo-list li .destroy:after {
    content: '×';
}

.todo-list li:hover .destroy {
    display: block;
}

.footer {
    color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #7D7D7D;
}


.todo-count {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 0.4em;
}

.todo-count strong {
    font-weight: 300;
}

.filters {
    margin: 0;
    padding: 0.5em;
    list-style: none;
    right: 0;
    left: 0;
}

.filters li {
    display: inline;
}

.filters li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    white-space: nowrap;
}

.filters li a:hover {
    border-color: rgba(175, 47, 47, 0.7);
}

.filters li a.selected {
    border-color: rgba(175, 47, 47, 0.5);
}

.clear-completed,
html .clear-completed:active {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

.clear-completed:hover {
    text-decoration: underline;
}

.info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

.info p {
    line-height: 1;
}

.info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.info a:hover {
    text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .todo-list li .toggle {
        background: none;
    }

    .todo-list li .toggle {
        height: 40px;
    }
}

@media (max-width: 430px) {
    .footer {
        height: 50px;
    }

    .filters {
        bottom: 10px;
    }
}

[v-cloak] { display: none; }

.request-correspondence,
.request-correspondence-attachment {
    display: inline-block;
    font-size: 0.8em;
    padding-bottom: 0.5em;
}
.request-correspondence-attachment {
    padding-left: 2em;
}
.request-correspondence .correspondence-date-time {
    color: #4d4d4d;
    font-size: 0.7em;
}
.request-correspondence-attachment-container {
    padding-bottom: 0.8em;
}